<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>locker</h1>
    <p>{{ floor }}</p>
    <form action="/locker" method="post">
        <label for="lockerfloor">Choose a floor:</label>

        <select id="lockerfloor" name="lockerfloor" required>
            {% for i in floor %}
                <option value="{{ i[0] }}">{{ i[0] }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>

        <br><br>
        
        <button type="submit">SUBMIT</button>
    </form>


    
</body>
</html>